.inputBar {
  display: block;
  float: left;
  clear: left;
  border: 1px solid #333;
  border-radius: 3px;
  width: 200px;
  margin: 3px 0;
  overflow: visible;
}

.inputBar.inline {
  display: inline-block;
  float: none;
  clear: none;
  width: 100px;
}

.inputBar > .inputContainer {
  background-color: #333;
  padding: 2px;
}

.inputBar input {
  display: block;
  border: 0;
  font-family: inherit;
  font-size: 12pt;
  background-color: #333;
  color: white;
  width: 95%;
}

.inputBar input:focus {
    outline-width: 0;
}

.suggestionList {
  position: absolute;
  z-index: 9;
  font-size: 10pt;
  background-color: #333e;
  list-style: none;
  padding: 3px 0 0 0;
  margin: 0;
  max-height: 5em;
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.suggestionList > li {
  padding: 2px;
}

.suggestionList > li.selected {
  background-color: rgb(82, 110, 122);
  border-radius: 3px;
}

.suggestionList > li > .name {
  margin-right: 1em;
}

.suggestionList > li > .description {
  color: #ddd;
}

.suggestionList > li.selected > .description {
  color: #eee;
}
