.ASTNode {
  border-bottom: 1px solid transparent;
}

.ASTNode > * {
  display: inline-block;
  border-color: transparent;
  cursor: pointer;
}

.ASTNode > .missing {

}

.ASTNode:hover {
  border-bottom-color: black;
}

.ASTBlock {
  display: block;
  float: left;
  clear: left;
}

.GenericBody {
  padding-left: 1em;
  overflow: auto;
}

.BinaryExpression::before {
  content: "(";
  opacity: 0.6;
  z-index: -1;
}

.BinaryExpression::after {
  content: ")";
  opacity: 0.6;
  z-index: -1;
}

.Identifier {
  padding: 0 2px;
}
