.ASTNode {

}

.ASTNode > * {
  border-radius: 3px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.ASTNode > .missing {

}

.ASTNode:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

.ASTBlock {
  display: block;
  float: left;
  clear: left;
}

.GenericBody {
  padding-left: 1em;
  overflow: auto;
}

.BinaryExpression::before {
  content: "(";
  opacity: 0.6;
  z-index: -1;
}

.BinaryExpression::after {
  content: ")";
  opacity: 0.6;
  z-index: -1;
}

.Identifier {
  padding: 0 2px;
}
